.square {
   width: 400px;
   height: 600px;
   float: left; 
}
.title {
    font-size: 30px;
    margin: 20px auto;
}
.game {
    width: 200px; /* 10*20 每个方块20*20 */
    height: 400px;
    background-color: #F2FAFF;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    position: relative;
    float: left; 
}
.next {
    width: 80px; /* 每个图形4*20*20 */
    height: 80px;
    background-color: #F2FAFF;
    position: relative;
    border: 1px solid blue;
    float: left;
    margin-left: 40px;
}
.info {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
.none, .current,.done { /* 每个方块的样式公共部分 */
    height: 20px;
    width: 20px;
    position: absolute;
    box-sizing: border-box;
}
.none {
    background-color: #F2FAFF;
}
.current {  /* 用户操作的方块 */
    background-color: pink;
    border: 1px solid red;
}
.done {  /* 落下的方块 */
    background-color: gray;
    border: 1px solid black;
}
.white_content { 
    font-size:1.2vw;
    color: #4d8673;
    display: none; 
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: 50%; 
    height: 45%; 
    padding: 20px; 
    border: 10px solid #fdd12a; 
    background-color: white;
    border-radius:20px; 
    z-index:1002; 
    overflow: auto; 
 }