body{
    background-image:url(picture/gamebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
}
img{
    width:"80%";
    height:"200%";
}
#table{
    width:75%;
    z-index: 100;
}
#table1{
    width:53%;
    z-index: 100;
}
td{
    text-align:center;
}
#account{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#logout{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#back{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}

#squirtle{
    background: url(pokemon/squirtle.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#squirtle:hover {
    background-size: 105% 105%;
}

#pikachu{
    background: url(pokemon/pikachu.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#pikachu:hover {
    background-size: 105% 105%;
}

#bulbasaur{
    background: url(pokemon/bulbasaur.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#bulbasaur:hover {
    background-size: 105% 105%;
}

#charmander{
    background: url(pokemon/charmander.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#charmander:hover {
    background-size: 105% 105%;
}

#eevee{
    background: url(pokemon/eevee.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#eevee:hover {
    background-size: 105% 105%;
}