body{
    background-image:url(images/gamebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
}
#t1{
    position: fixed; 
    top: 30%; 
    left: 5%; 
    width: 40%; 
    height: 60%; 

}
#t2{
    position: fixed; 
    top: 30%; 
    left: 55%; 
    width: 40%; 
    height: 60%; 
}
#ownG{
    font-size:1.5vw;
    position: fixed; 
    top: 20%; 
    left: 5%; 
}

#remotename{
    font-size:1.5vw;
    position: fixed; 
    top: 20%; 
    left: 55%; 
}
td{
    text-align:center;
    width:10%;
    height:200%;
}
#account{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#logout{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#back{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#start{
    color: #4d8673;
    font-size:1.5vw;
    width:10%;
    border-radius:20px;
    background-color: #ffffff;
    text-align:center;
}
#restart{
    color: #4d8673;
    font-size:1.5vw;
    width:20%;
    border-radius:20px;
    background-color: #ffffff;
    text-align:center;
}
#upload{
    color: #4d8673;
    font-size:1.5vw;
    width:20%;
    border-radius:20px;
    background-color: #ffffff;
    text-align:center;
}
.white_content { 
    font-size:1.2vw;
    color: #4d8673;
    display: none; 
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: 50%; 
    height: 45%; 
    padding: 20px; 
    border: 10px solid #fdd12a; 
    background-color: white;
    border-radius:20px; 
    z-index:1002; 
    overflow: auto; 
 }
 .menu { 
    font-size:1.2vw;
    color: #4d8673;
    display: none; 
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: 50%; 
    height: 45%; 
    padding: 20px; 
    border: 10px solid #fdd12a; 
    background-color: white;
    border-radius:20px; 
    z-index:1002; 
    overflow: auto; 
 }
 #table1{
    width:75%;
    z-index: 100;
}
#table2{
    width:53%;
    z-index: 100;
}
td{
    text-align:center;
}
#squirtle{
    background: url(pokemon/squirtle.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#squirtle:hover {
    background-size: 105% 105%;
}

#pikachu{
    background: url(pokemon/pikachu.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#pikachu:hover {
    background-size: 105% 105%;
}

#bulbasaur{
    background: url(pokemon/bulbasaur.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#bulbasaur:hover {
    background-size: 105% 105%;
}

#charmander{
    background: url(pokemon/charmander.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#charmander:hover {
    background-size: 105% 105%;
}

#eevee{
    background: url(pokemon/eevee.png);
    background-size: 20vw 20vw;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
}
#eevee:hover {
    background-size: 105% 105%;
}