body{
    background-image:url(homepage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
}
#rankingbackground{
	text-align: center; 
	background-color: #fff;
	border-radius: 20px;
	width: 50%;
	height: 30%;
	margin: auto;
	position: absolute;
	opacity: 0.5;
	top:15%;
    left: 0;
    right: 0;
    z-index: -1;
}
#ranking{
	font-size: 1.5vw;
	text-align: center; 
	border-radius: 20px;
	width: 50%;
	height: 30%;
	margin: auto;
	position: absolute;
	top:6.5%;
    left: 0;
    right: 0;
    z-index: -1;
}
#rankingtitle{
	font-size: 3.5vw;
	background: linear-gradient(to right,#87cefa,#ffffff);
    -webkit-background-clip: text;
    color: transparent;
}
#myownbackground{
	text-align: center; 
	background-color: #fff;
	border-radius: 20px;
	width: 50%;
	height: 10%;
	margin: auto;
	position: absolute;
	opacity: 0.5;
	top:55%;
    left: 0;
    right: 0;
    z-index: -1;
}
#myown{
	font-size: 1.5vw;
	text-align: center; 
	border-radius: 20px;
	width: 50%;
	height: 10%;
	margin: auto;
	position: absolute;
	top:55%;
    left: 0;
    right: 0;
    z-index: -1;
}
#account{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#logout{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#Hrule{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#PokeDex{
	margin: auto;
	position: absolute;
    font-size:2vw;
    width:8%;
    height:8%;
    border-radius: 40px;
    background-color: #ffffff;
    top:0;
    left: 0;
    right: 20%;
    bottom: 0;
    z-index: -1;
}
#Game{
	margin: auto;
	position: absolute;
    font-size:2vw;
    width:8%;
    height:8%;
    border-radius: 40px;
    background-color: #ffffff;
    top:0;
    left: 20%;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#public_board{
	text-align: center; 
	background-color: #fff;
	border-radius: 20px;
	width: 50%;
	height: 10%;
	margin: auto;
	position: absolute;
	opacity: 1;
	top:75%;
    left: 0;
    right: 0;
    z-index: -1;
}
#boardtitle{
	font-size: 3.5vw;
	background: linear-gradient(to right,#7CFC00,#66CDAA);
    -webkit-background-clip: text;
    color: transparent;	
    text-align: center; 
	background-color: #fff;
	border-radius: 20px;
	width: 50%;
	height: 10%;
	margin: auto;
	position: absolute;
	opacity: 1;
	top:67%;
    left: 0;
    right: 0;
    z-index: -1;
}
#gm_msg{
	font-size: 1.5vw;
}
.box{
    font-size:2vw; 
    border-radius:20px;
    background: #ffffff;
    z-index: 10;
    width:30%; 
    margin-top:10%; 
    margin:auto; 
    padding:28px;
    height:80%; 
    border:1px #111 solid;
    display:none;     
}
.box.show{
    font-size:1.5vw; 
    text-align: center; 
    display:block;
} 
.box .x{ 
    font-size:1.5vw; 
    text-align:right;
    display:block;
}
.box input{
    width:80%;
    font-size:1.5vw; 
    margin-top:10%;
}