.table1{
	text-align: center; 
	background-color: #fff;
	border-radius:20px;
	width: 20%;
	height: 15%;
	margin: auto;
	position: absolute;
    opacity:0.5;
    top:5%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#table11{
    text-align: center; 
    border-radius:20px;
    width:20%;
    height:15%;
    margin: auto;
    position: absolute;
    top:7%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
#Lrule{
    font-size:2vw;
    width:5%;
    border-radius:20px;
    background-color: #ffffff;
}
#Llogin{
    font-size:1.5vw;
    height:30%;
    width:30%;
    border-radius:20px;
    background-color: #ffffff;
}
#Lsignup{
    font-size:1.5vw;
    height:30%;
    width:30%;
    border-radius:20px;
    background-color: #ffffff;
}
#Lid{
    font-size:1.5vw;
    width:90%;
    height:25%;
}
#Lpassword{
    font-size:1.5vw;
    width:90%;
    height:25%;
}
.box{
    font-size:2vw; 
    border-radius:20px;
    background: #ffffff;
    z-index: 10;
    width:30%; 
    margin-top:10%; 
    margin:auto; 
    padding:28px;
    height:80%; 
    border:1px #111 solid;
    display:none;     
}
.box.show{
    font-size:1.5vw; 
    text-align: center; 
    display:block;
} 
.box .x{ 
    font-size:1.5vw; 
    text-align:right;
    display:block;
}
.box input{
    width:80%;
    font-size:1.5vw; 
    margin-top:10%;
}
body{
    background-image:url(LogIn.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
}