body {
	background-image: url(modify&signup.jpg);
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;


}

#mmodify{

	font-size:1.7vw;
	background-color: #fff;
	padding:8% 2%;
	width: 33%;
	opacity: 0.8;
	border-radius: 10%;
}

h1{
	font-size:3vw;
}
h2{
	font-size:2.5vw;
}

#mbutton{
	height: 50%;
	width:30%;
	font-size: 1.5vw;
}
#mback{
height: 50%;
	width:30%;
	font-size: 1.5vw;
}

#mpassword{
	font-size: 1vw;
}

#mname{
	font-size: 1vw;
}

#mage{
	font-size: 1vw;
}

#mquestion{
	font-size: 1vw;
}

#manswer{
	font-size: 1vw;
}
