body{
    background-image:url(picture/gamebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover; 
}
#table{
    width:80%;
    z-index: 100;
}
td{
    text-align:center;
}
#picture{
    width:40%;
    height:40%;
}
#attr{
    font-size: 1.2vw;
    color: #4d8673;

}
#attr_data{
    font-size:1.2vw;
    color: #4d8673;
    width:12%;
}
#introduce{
    font-size:1.2vw;
    color: #4d8673;
    position:absolute;
    left:65%;
    top:14%;
}

#introduce_data{
    font-size:1.2vw;
    color: #4d8673;
    position:absolute;
    left:77%;
    top:14%;
}
#Description{
    border-style: solid;
    border-color: white ;
    width: 80%;
    height: 30%;
    font-size:1.2vw;
    color: #4d8673;
   position:absolute;
   left:5%;
   top:66%;
   word-wrap: break-word;
   word-break: normal;
   /* z-index：21212121；
    word-break:break-word;*/
}

#account{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#logout{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
#back{
    font-size:1.5vw;
    width:6%;
    border-radius:20px;
    background-color: #ffffff;
}
.white_content { 
    display: none; 
    position: fixed; 
    top: 25%; 
    left: 25%; 
    width: 55%; 
    height: 45%; 
    padding: 20px; 
    border: 10px solid #fdd12a; 
    background-color: white;
    border-radius:20px; 
    z-index:1002; 
    overflow: auto; 
 } 