#ssignup{

	font-size:1.7vw;
	background-color: #fff;
	padding:8% 2%;
	width: 33%;
	opacity: 0.8;
	border-radius: 10%;
}

h1{
	font-size:3vw;
}

h2{
	font-size:2.5vw;
}
body {
	background-image: url(modify&signup.jpg);
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;


}

#ssign{
	font-size: 1.5vw;
	height: 50%;
	width:30%;
}

#sback{
	height: 50%;
	width:30%;
	font-size: 1.5vw;
}

#sid{
	font-size: 1vw;
}

#spassword{
	font-size: 1vw;
}

#sname{
	font-size: 1vw;
}

#sage{
	font-size: 1vw;
}

#squestion{
	font-size: 1vw;
}

#sanswer{
	font-size: 1vw;
}
