<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Student Info System</title>
  <link rel="stylesheet" href="student_info.css" />
  <script src="student.js"></script>
</head>
  <body>

      <strong style="font-size:300%">Message:</strong>

      <br><br><br>
      <h3 style="font-size:220%; color:red;padding-left: 150px;"><%= message%></h3>
          <br><br><br>
      <form class="" action="return" method="get" >
        <p style="font-size:140% ;text-align:center">Click Here return to HomePage: </p>
        <p class="submit_button"><input id='uri' type="submit"  value="Return" name="return" />
        </p>
      </form>
      <br><br><br>


  </body>
</html>